.homepage {
  padding: 0 5em;
}
.top-container {
  height: 40vh;
  border: 1px solid black;
  background-image: url("https://images.unsplash.com/photo-1593428521026-d5f50d6bb6f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1559&q=80");
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5em;
}
.posts {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 1em 0;
}
.post-box {
  border: 1px solid black;
  height: 400px;
  box-shadow: 4px 10px;
}

.post-box img {
  width: 100%;
  object-fit: cover;
  height: 80%;
}

@media only screen and (max-width: 700px) {
  .homepage {
    padding: 0;
  }
}
